.input_title_wrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;

    .input_title {
        border-bottom: 1px solid #CECECE;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        width: 90vw;
        height: 30px;

    }
}

.input_content_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .input_content {
        border-bottom: 0px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        width: 90vw;
        height: 65vh;
        resize: none
    }
}

.add_img_modal_wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 13vh;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction:column;
    .x{
        text-align: end;
        height: 5vh;
        line-height: 5vh;
        margin-right: 2vw;
    }
    .add_img_wrapper{
        display: flex;
        justify-content: center;
        height: 15vh;
        .add_btn{
            background-color: #e0363f;
            margin-left: 1vw;
            height: 3vh;
            border-radius: 5px;
            color: white;
            padding: 1px 10px;
            font-size: 12px;
           line-height: 3vh;

        }
        
    }


}
.add_img_modal_wrapper_x{
    display: none;
}

.bottom_btn_wrapper {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 8vh;
    display: flex;
    background-color: #eba3a3;
    margin-left: -1.25vw;

    .camera_icon {
        height: 8vh;
        width: 50px;

        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
            width: 25px;
            height: 25px;

        }
    }

    .submit_btn {
        width: 85vw;
        text-align: center;
        line-height: 8vh;
        color: white;
    }
}