.header {
  width: 100vw;
  height: 8vh;
  display: flex;
  box-shadow: 0px 5px 5px 0px #E8E8E8;

  // line-height: 8vh;

  .icon_box {
    display: flex;
    width: 10vw;
    height: 8vh;
    //background-color: red;
    text-align: center;

    .icon_wrapper {
      //background-color: orange;
      width: 10vw;
      height: 8vh;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        //background-color: yellow;
        width: 4vw;
        height: 4vh;

      }
    }

  }

  .header_title_box {
    // background-color: aquamarine;
    width: 90vw;
    height: 8vh;
    text-align: center;
    line-height: 8vh;
    margin-right: 5vh;

    // text-align: center;

    .header_title {
      //background-color: blueviolet;
      font-size: 150%;
    }
  }

}