.menu-wrap {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: fixed;
    padding-top: 10px;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    width: 70%;
}

img {
    width: 30px;
    height: 30px;
}

@media(max-width: 600px){
    .menu-wrap{
        width: 90%;
    }
    img {
        width: 20px;
        height: 20px;
    }
    p{
        font-size: 14px;
    }
}
p {
    font-weight: 600;
}



.menu-item p, .menu-item img{
    cursor: pointer;
}