.withdraw-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.userName p{
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}

.withdraw-input-wrap input{
    width: 500px;
    border: 1px solid black;
    border-radius: 10px;
    height: 20px;
    font-size: 20px;
}

.withdraw-bt-wrap button{
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #D94848;
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}

#loginSubText{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 18px;
    color: #c2c2c2;
    font-weight: 400;
    cursor: pointer;
}